body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, p, hr {
    color: #5F5F5F;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.btn {
    font-weight: 600;
}

.fa-heart {
    color: #D9A6A7;
}

.fa-bookmark {
    color: #D3EADE;
}

/* Navigation menu */
.navbar {
    background-color: #D3EADE;
    color: #5F5F5F;
    font-weight: 600;
}

.navbar-brand {
    color: #5F5F5F;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2.5em;
    text-shadow: 1.4px 1.4px #fff, 2px 0 #fff, 1.4px -1.4px #fff, 0 -2px #fff, -1.4px -1.4px #fff, -2px 0 #FFF, -1.4px 1.4px #fff, 0 2px #fff;
}

.nav-link {
    color: #5F5F5F;
}

/* Hero */
#hero {
    background-color: rgba(249, 245, 227, 0.25);
}

/* Browse */
.card-likes {
    float: right;
    background-color: white;
    color: #5F5F5F;
    margin-right: 2px;
    margin-top: 2px;
    border-radius: inherit;
}

/* Recipe form */
.asteriskField {
    display: none;
}

#ingredients-formset .form-control {
    display: inline;
    width: auto;
}

#ingredients-formset .form-text,
#div_id_publish_request .form-text {
    display: block;
}

.recipe-submit {
    min-width: 50%;
}

.recipe-cancel {
    min-width: 25%;
}

/* Recipe detail */
.comment-container {
    max-height: 500px;
}

/* Delete confirm */
.delete-confirm {
    min-width: 25%;
}

.delete-cancel {
    min-width: 15%;
}