/* Universal style selector to remove margin, padding and border for all 
elements and using box-border to include padding and border in elements total 
height and width */
/* * {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Reenie Beanie', sans-serif;
}

main {
    max-width: 1920px;
    margin: auto;
} */

/* Browse */
.card-likes {
    float: right;
    background-color: white;
    margin-right: 2px;
    margin-top: 2px;
    border-radius: inherit;
}

/* Recipe form */
.asteriskField {
    display: none;
}

#ingredients-formset .form-control {
    display: inline;
    width: auto;
}

#ingredients-formset .form-text,
#div_id_publish_request .form-text {
    display: block;
}