{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="container-fluid">
    <h1>{{ page_title }}</h1>
    <!-- Recipe cards for list views -->
    <div class="row">
        <div class="col-12 left">
            <div class="row g-3">
                {% for recipe in recipe_list %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                    {% include 'recipe-card.html' %}
                </div>
                {% empty %}
                <div class="text-center">
                    {% if page_title == 'Browse Recipes' %}
                    <p>There are no recipe yet</p>
                    {% elif page_title == 'Saved Recipes' %}
                    <p>You have not saved any recipes yet</p>
                    {% elif page_title == 'My Recipes' %}
                    <p>You have not written any recipes yet</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'pagination.html' %}
</div>

{% endblock %}