{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<h1>Add Recipe</h1>
<form method="POST">
    {% csrf_token %}
    <div>
        {{ form.title | as_crispy_field }}
    </div>
    <div>
        {{ form.description | as_crispy_field }}
    </div>
    <div>
        {{ form.recipe_image | as_crispy_field }}
    </div>
    <div>
        {{ form.tags | as_crispy_field }}
    </div>
    <div>
        {{ ingredients_formset.management_form }}
        <label for="id_ingredients-0-ingredients_0">Ingredients</label>
        <table id="ingredients-formset">
            <tbody>
                {% for form in ingredients_formset %}
                <tr>
                    <td>
                        <!-- {% for field in form %}
                        {{ field }}
                        {% endfor %} -->
                        {{ form | crispy }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        {{ method_formset.management_form }}
        <label for="id_method-0-method">Method</label>
        <table id="method-formset">
            <tbody>
                {% for form in method_formset %}
                <tr>
                    <td>
                        {{ form | crispy }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        {{ form.publish_request | as_crispy_field }}
    </div>

    <input type="submit" value="Submit">
</form>

{%endblock%}
