{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<h1>Add Recipe</h1>
<form action="POST">
    {% csrf_token %}
    <div>
        {{ recipe_details_form | crispy }}
    </div>
    <div>
        <!-- {{ ingredients_formset.management_form | crispy }} -->
        <table>
            {{ ingredients_formset | crispy }}
        </table>
        <button>Add Ingredients</button>
    </div>
    <div>
        {{ method_formset | crispy }}
        <button>Add Method Steps</button>
    </div>
    <div>
        {{ request_publish | crispy }}
    </div>

    <input type="submit" value="Submit">
</form>

{%endblock%}
