{% extends "base.html" %}
{% load static %}
{% block content %}

<section id="hero" class="row mb-3 py-3 border rounded">
    <div class="col-md-6 d-flex flex-column justify-content-evenly order-1 order-md-0">
        <div class="py-4 py-md-0 w-100">
            <h1 class="pb-0 pb-lg-1 text-center">Recipe Book</h1>
            <p class="lead text-center">A recipe sharing site where food lovers can share the recipes they're most proud of, discover new favourite recipes or get inspiration for what to cook for tonight's dinner.</p>
        </div>
        <div class="py-4 py-md-0 w-100">
            <p class="lead text-center">
                {% if user.is_authenticated %}
                Find new recipes now!
                {% else %}
                Create a free account now!
                {% endif %}
            </p>
        </div>
        <div class="mx-auto">
            {% if user.is_authenticated %}
            <a class="btn btn-secondary btn-lg" href="{% url 'browse' %}" role="button">Browse Recipes</a>
            {% else %}
            <a class="btn btn-secondary btn-lg" href="{% url 'account_signup' %}" role="button">Sign Up</a>
            {% endif %}
        </div>
    </div>
    <div class="col-md-6 my-auto order-0 order-md-1">
        <img class="img-fluid px-md-auto" src="{% static 'images/cooking-time.webp' %}" alt="Cooking time apron and oven glove.">
    </div>
</section>

<section id="most-liked">
    <h2>Most Liked Recipes</h2>
    <div class="row">
        {% for recipe in recipe_list %}
        <div class="col-md-4">
            <div class="card mb-4 h-100">
                <a href="{% url 'recipe_detail' recipe.slug %}">
                    <div class="card-body">
                        <div class="image-container">
                            {% if 'placeholder' in recipe.recipe_image.url %}
                            <img class="card-img-top" src="{% static 'images/default.webp' %}" alt="Doodle tray">
                            {% else %}
                            <img class="card-img-top" src=" {{ recipe.recipe_image.url }}"
                                alt="{{ recipe.author }}'s {{ recipe.title }}">
                            {% endif %}
                            <div class="card-img-overlay">
                                <div class="card-likes">
                                    <i class="fas fa-heart" title="Likes"></i> {{ recipe.number_of_likes }}
                                </div>
                            </div>
                        </div>
                        <h2 class="card-title">{{ recipe.title }}</h2>
                        <hr />
                        <p class="author">Shared by {{ recipe.author }}</p>
                        <p>
                            <i class="far fa-clock"></i> Time to prepare: {{ recipe.get_cooking_time_display }}
                        </p>
                        <p><i class="fas fa-utensils"></i> Serves: {{ recipe.serves }}</p>
                        <p class="card-text text-muted h6">{{ recipe.created_on }}</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
</section>

{%endblock%}