{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<section id="recipe">
    <div class="container-xl px-5">
        <div class="row">
            <!-- Recipe image -->
            <div class="col-md-7 text-center">
                {% if 'placeholder' in recipe.recipe_image.url %}
                <img class="img-thumbnail recipe-image" src="{% static 'images/default.webp' %}" alt="Doodle tray">
                {% else %}
                <img class="img-thumbnail recipe-image" src=" {{ recipe.recipe_image.url }}"
                    alt="{{ recipe.author }}'s {{ recipe.title }}">
                {% endif %}
            </div>
            <!-- Recipe details -->
            <div class="col-md-5">
                <div>
                    <h1 class="text-capitalize">{{ recipe.title }}</h1>
                    <p>Shared by {{ recipe.author }}</p>
                </div>
                <div>
                    <p><i class="fas fa-heart" title="Likes"></i> <span id="total-likes">{{ recipe.number_of_likes }}</span></p>
                    <p><i class="far fa-clock"></i> Time to prepare: {{ recipe.get_cooking_time_display }}</p>
                    <p><i class="fas fa-utensils"></i> Serves: {{ recipe.serves }}</p>
                </div>
                <div>
                    <div class="d-flex gap-2">
                        {% if user == recipe.author %}
                        <a href="{% url 'recipe_edit' recipe.slug %}">
                            <button class="btn btn-secondary" value="{{ recipe.slug }}" role="button">Edit</button>
                        </a>
                        <a href="{% url 'recipe_delete' recipe.slug %}">
                            <button class="btn btn-secondary" value="{{ recipe.id }}" role="button">Delete</button>
                        </a>
                        {% endif %}
                    </div>
                    {% if user.is_authenticated %}
                    {% if user != recipe.author %}
                    <form id="like" class="d-inline" action="{% url 'recipe_like' recipe.slug %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button class="btn btn-secondary" type="submit" id="like-button" name="like-button" value="{{ recipe.slug }}"><i
                                id="like-icon" class="fas fa-heart"></i><span id="like-button-text"> Liked</span></button>
                        {% else %}
                        <button class="btn btn-secondary" type="submit" id="like-button" name="like_button" value="{{ recipe.slug }}"><i
                                id="like-icon" class="far fa-heart"></i><span id="like-button-text"> Like</span></button>
                        {% endif %}
                    </form>
                    <form id="save" class="d-inline" action="{% url 'recipe_save' recipe.slug %}" method="POST">
                        {% csrf_token %}
                        {% if saved %}
                        <button class="btn btn-secondary" type="submit" id="save-button" name="save-button" value="{{ recipe.slug }}"><i
                                id="save-icon" class="fas fa-bookmark"></i><span id="save-button-text"> Saved</span></button>
                        {% else %}
                        <button class="btn btn-secondary" type="submit" id="save-button" name="save-button" value="{{ recipe.slug }}"><i
                                id="save-icon" class="far fa-bookmark"></i><span id="save-button-text"> Save</span></button>
                        {% endif %}
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Recipe description -->
        <div class="row mt-3">
            <p my-auto>{{ recipe.description }}</p>
        </div>
        <!-- Ingredients and Method -->
        <div class="row mt-3">
            <div class="col-lg-6">
                <h2>Ingredients</h2>
                <table class="table">
                    {% for ingredient in ingredients %}
                    <tr>
                        {% for key, value in ingredient.ingredients.items %}
                        <td class="text-capitalize">{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-lg-6">
                <h2>Method</h2>
                <ol>
                    {% for step in method %}
                    <li class="p-2">{{ step.method }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- Tags -->
<section id="tags">
    <div class="container-xl mt-3 px-5">
        <div class="d-flex flex-wrap gap-2">
            {% for tag in recipe.tags.all %}
            <a href="{% url 'recipes_by_tag' tag.slug %}">
                <button type="button" class="btn btn-outline-secondary" value="{{ tag.slug }}"
                    role="button">{{tag.name}}</button>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Comments -->
<section id="comments">
    <div class="container-xl mt-3 px-5">
        <div class="my-3">
            {% with comments.count as total_comments %}
            {% if total_comments == 1 %}
            <h3>{{ total_comments }} Comment</h3>
            {% else %}
            <h3>{{ total_comments }} Comments</h3>
            {% endif %}
            {% endwith %}
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}
            {% if user.is_authenticated %}
            <p>Posting as: {{ user.username }}</p>
            <form method="post">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary mt-1">Submit</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
        <div class="comment-container overflow-auto">
            {% for comment in comments %}
            <div class="comments">
                <p class="fw-bold">
                    {{ comment.name }}
                    <span class="text-muted fw-light">
                        {{ comment.created_on }}
                    </span>
                </p>
                {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}